
h1{
    color: #9A191A;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    font-weight: bold;
}

.nav-link {
    color: white;
}
.btn:hover {
    background-color:#9A191A;
    color: white;
}
.about-banner{
    background-size: cover;
    height: 90dvh;
    text-align: center;
    background-image: url('/src/assets/ALL-PRODUCTS-03022024.jpg');
    
    


}
.about-header{
    padding-top: 300px;
    font-size: 68px;
    color: #199A4E;

}
.btn{
    background: #199A4E;
    color: white;
}
.section{
    margin-top: 50px;
}
.card-title{
    color: #199A4E;
}
#reasons{
    margin-top: 25px;
}
#reasons h5{
    color: #199A4E;
}
    #community-empowerment{
        border-radius: 15px;
        padding: 10px;
    }
    .mission{
     margin-left: 130px;
     padding-top: 50px;
    }
.mission img {
width: 300px;
height: 300px;
}
.mission h1{
text-align: left;
}
.mission p{
    text-wrap: balance
}

.values{
    margin-bottom: 20px;
}
.values img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    
    
}
.values p{
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .about-banner{
        height: 30dvh;
        background-size: 400px;
       
    }
    .mission{
     margin-left: 0;
    
    }
    .section{
        margin-top: 0;
    }
    .value-list{
        margin-top: -15px;
    }
    .core-values-header{
        text-align: left;
        margin-left: 10px;
    }
    .values p{
        text-align: left;
    }
}