.about-banner{
    background-size: cover;
    height: 90vh;
    text-align: center;
    
    


}
.about-header{
    padding-top: 300px;
    font-size: 68px;
    color: #199A4E;

}
.btn{
    background: #199A4E;
    color: white;
}

.reasons{
    font-size: 13px;
}