h1{
    color: #9A191A;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}
.nav-link {
    color: white;
}
.btn:hover {
    background-color:#9A191A;
    color: white;
}
.about-banner{
    background-size: cover;
    height: 90vh;
    text-align: center;
    
    


}
.about-header{
    padding-top: 300px;
    font-size: 68px;
    color: #199A4E;

}
.btn{
    background: #199A4E;
    color: white;
}
.section{
    margin-top: 50px;
}
#reasons{
    margin-top: 25px;
}
    #community-empowerment{
        border-radius: 15px;
        padding: 10px;
    }
    .mission{
        height: 450px;
        border: 1px solid rgb(128, 128, 140)  ;
    }
.mission img {
    height: 50%;

}
.mission h1{
text-align: left;
}
.mission p{
    text-wrap: balance
}

.values{
    margin-bottom: 20px;
}
.values img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: auto;
    
}
