
h2{
    font-family: 'Playfair Display', serif;
    color: #ED3435;
    font-style: italic;
    font-size: 30px;
}
.spice-name{
    font-weight: bold;
    font-size: 40px;
    color: #199A4E;
    padding-bottom: 20px;
}

.product-info{
    padding: 80px;
    
}
.product-background{
    background: #199A4E;
}
.product-background .spice-name{
    color: white;
}
footer{
    margin-top: 40px;
}