

h2{
    font-family: 'Playfair Display', serif;
    color: #199A4E;
    font-style: italic;
    font-size: 25px;
}
.product-name{
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.product-info{
    padding: 80px;
    
}


footer{
    margin-top: 40px;
}

@media only screen and (max-width: 600px) {
    .product-info{
        padding: 20px;
    }
    }