

.navbar{
background: #199A4E;

}
.navbar-nav{
    margin-left: 50%;
}
.nav-link {
    color: white;
}
 .nav-item .active {
    background: white;
    border-radius: 10px;
    
  }
.logo{
    border-radius: 15px;
    width: 120px ;
    height: auto;
}

.social {
    float: left;
    list-style: none;
    padding: 15px 0 10px;
    position: relative;
    text-align: center;
    
  }
  
  
  .social li a {
    display: block;
    color: #efefef;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 30px;
    font-size: 18px;
  }
  

  .social li:hover {
   padding-right: 20px;
   background: #9A191A;
   cursor: pointer;
  }
  
.banner-area{
    margin-top: 10px;
}

.banner-header{
    background: rgb(255,255,255, 0.6);
    color: #199A4E;
    font-size: 68px;
}
.btn{
    background: #199A4E;
    color: white;
}
.btn:hover {
    background-color:#9A191A;
    
}
.brands{
    padding: 30px;
    padding-bottom: 80px;
}
.carousel-item { 
    transition-duration: 1s;
   object-fit: cover;
    
}

h1{
    text-align: center;
    margin-top: 50px;
    color: #9A191A;
}

.about-brand{
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
    
}

.brand-logo{
    max-width: 200px;
    border-radius: 15px;
}
.brand-header{
    font-size: 15px;
}

.product-summary{
    text-wrap: balance;
    margin-top: 20px;
}
.why-header{
    
    padding-bottom: 20px;
    
}
.card-link{
    text-decoration: none;
    color: #199A4E;
}


.feedback-container{
    margin-top: 100px;
    padding-bottom: 50px;
}

.feedback{
    padding-top: 50px;
}


footer{
    background: #199A4E;
    padding: 30px;
}
.contact-details{
    list-style-type: none;
    padding: 0;
}
.menu-items {
    list-style-type: none;
    padding-left: 0;
}

.menu-items li a {
    text-decoration: none;
    color: inherit; 
}

.footer-social {
    font-size: 18px;
}

.footer-social a {
    text-decoration: none;
    color: black;
}

.footer-social .fa-facebook {
    padding-right: 10px;
}